<section class="features" id="valores">  
            <div class="features__box">
                <h2 class="features__heading contenedor" data-section="features" data-value="heading">¿Por qué<span class="features__heading--red"> escoger SATI</span>?</h2>

                <!-- <div class="features__line"></div> -->
                 <p data-section="features" data-value="subtitle" class="features__subtitle">Con más de 15 años de experiencia en la industria de aislamiento térmico, entregamos excelencia en cada proyecto realizado.</p>
            </div>

            <div class="features__grid">
                
                <div class="feature">   
                    <div class="feature__icon">
                        <i class="bi bi-award feature__icon-img" aria-hidden="true"></i>
                        <!-- <img src="./img/icon_save.svg" alt="save" class="feature__icon-img"> -->
                    </div>

                    <h3 class="feature__title" data-section="features" data-value="item1">Garantía de Calidad</h3>
                    <p class="feature__text">Utilizamos únicamente materiales de la más alta calidad y seguimos estrictos estándares de la industria para garantizar soluciones de aislamiento térmico duraderas.</p>

                </div>

                <div class="feature">   
                    <div class="feature__icon">
                        <i class="bi bi-hand-thumbs-up feature__icon-img" aria-hidden="true"></i>
                        <!-- <img src="./img/icon_deliver.svg" alt="discount" class="feature__icon-img"> -->
                    </div>

                    <h3 class="feature__title" data-section="features" data-value="item2">Seguridad ante todo</h3>
                    <p class="feature__text">Nuestros técnicos certificados priorizan la seguridad en cada instalación, manteniendo un historial de cero accidentes y una cobertura de seguro integral.</p>
                </div>

                <div class="feature">   
                    <div class="feature__icon">
                        <i class="bi bi-rocket-takeoff feature__icon-img" aria-hidden="true"></i>
                        <!-- <img src="./img/icon_hands.svg" alt="hands" class="feature__icon-img"> -->
                    </div>

                    <h3 class="feature__title" data-section="features" data-value="item3">Eficiencia Energética</h3>
                    <p class="feature__text">Nuestras soluciones de aislamiento térmico reducen los costos de energía, lo que proporciona un importante retorno de la inversión (ROI) para las instalaciones industriales.</p>
                </div>


            </div>

        </section>