<main class="hero">
            <div class="hero__overlay"></div>
            <div class="hero__content">
                <h1 class="hero__title" data-section="hero" data-value="title">Soluciones de <span class="hero--blue"> Aislamiento Térmico Industrial</span> </h1>
                <!-- <div class="hero__line"></div> -->
                <p class="hero__subtitle" data-section="hero" data-value="subtitle">Protegiendo su inversión con calidad y eficiencia</p>
                <a href="#contacto" class="hero__button" data-section="hero" data-value="cta">Contactanos <i class="bi bi-arrow-right"></i></a>
            </div>
        </main>