<section class="nosotros" id="nosotros">
            <div class="nosotros__grid">
                <h2 data-section="nosotros" data-value="heading" class="nosotros__title">Nuestro<br><span class="nosotros__title--red">Objetivo</span></h2>
            
                <span data-section="nosotros" data-value="subtitle" class="nosotros__text">En <span class="nosotros__text--red">SATI</span>
                     nos especializamos en ofrecer <span class="nosotros__text--red">soluciones profesionales de aislamiento térmico industrial</span> que permiten a las empresas ahorrar energía, optimizar sus procesos y proteger sus instalaciones.<br><br> Trabajamos con materiales de alta calidad y nos comprometemos a entregar <span class="nosotros__text--red">resultados duraderos, seguros y eficientes</span>, siempre adaptándonos a las necesidades específicas de cada cliente.</p>
            </div>
        </section>