<section class="testimoniales" id="testimoniales">
            <div class="testimoniales__box">
                <h2 class="testimoniales__heading contenedor">Lo que <span class="testimoniales__heading--red">dicen nuestros</span> clientes</h2>

                <p class="testimoniales__subtitle">Con la confianza de las principales empresas industriales de México.</p>
            </div>
            

            <div class="testimoniales__grid contenedor">
                <div class="testimoniales__item">
                    <div class="testimoniales__item-icons">
                        <i class="bi bi-quote testimoniales__item-quote"></i>
                    </div>

                    <p class="testimoniales__item-text">
                        "SATI proporcionó un aislamiento térmico excepcional para nuestra refinería. Su atención al detalle y sus estándares de seguridad superaron nuestras expectativas. El ahorro energético ha sido notable."
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <p class="testimoniales__item-author">
                        Juan Martínez <br> <span class="testimoniales__item-author-job">Gerente de Planta</span> 
                    </p>
                </div>

                <div class="testimoniales__item">
                    <div class="testimoniales__item-icons">
                        <i class="bi bi-quote testimoniales__item-quote"></i>
                    </div>

                    <p class="testimoniales__item-text">
                        "Servicio profesional de principio a fin. El equipo de SATI completó nuestro proyecto de aislamiento de planta a tiempo y dentro del presupuesto. Recomiendo ampliamente sus servicios."
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <p class="testimoniales__item-author">
                        Laura Sánchez<br><span class="testimoniales__item-author-job">Supervisor de operaciones</span> 
                    </p>
                </div>

                <div class="testimoniales__item">
                    <div class="testimoniales__item-icons">
                        <i class="bi bi-quote testimoniales__item-quote"></i>
                    </div>

                    <p class="testimoniales__item-text">
                        "Calidad y experiencia excepcionales. Las soluciones de aislamiento térmico de SATI han mejorado significativamente la eficiencia energética de nuestras instalaciones. Excelente servicio al cliente en todo momento."
                    </p>

                    <div class="testimoniales__item-line"></div>

                    <p class="testimoniales__item-author">
                        Carlos Gómez<br> <span class="testimoniales__item-author-job">Dueño de Negocio</span> 
                    </p>
                </div>
            </div>
        </section>