<!-- ======= nav Desktop ======= -->
<nav class="nav">  
    <div class="nav__logo">
        <a href="index.html#home" class="nav__logo-link">
            <img src="./img/logo.png" alt="Logo" class="nav__logo-img">
            <!-- <div class="nav__logo-line"></div> -->
        </a>
    </div>

    <ul class="nav__links">
        <li class="nav__links-item"><a href="index.html#home" class="nav__links-link" data-section="nav" data-value="home">Inicio</a></li>
        <li class="nav__links-item"><a href="index.html#nosotros" class="nav__links-link" data-section="nav" data-value="about">Nosotros</a></li>
        <li class="nav__links-item"><a href="index.html#servicios" class="nav__links-link" data-section="nav" data-value="about">Servicios</a></li>
        <li class="nav__links-item"><a href="index.html#portafolio" class="nav__links-link" data-section="nav" data-value="testimonials">Portafolio</a></li>
        <li class="nav__links-item"><a href="index.html#contacto" class="nav__links-link" data-section="nav" data-value="contact">Contacto</a></li>
    </ul>

    <a href="index.html#contacto" class="nav__button" data-section="nav" data-value="cta">
        Contactanos 

        <i class="bi bi-arrow-right"></i>
    </a>
</nav> 

<!-- ======= nav Mobile ======= -->
<div class="navM">
    <div class="navM__data">
        <a class="navM__logo" href="index.html#home">
            <img class="navM__logo-img" src="./img/logo.png" alt="logo">
            <!-- <div class="nav__logo-line"></div>
            <p class="nav__logo-text">Texto</p> -->
        </a>

        <div class="navM__toggle" id="navM-toggle">
            <i class="fa-solid fa-bars navM__burger"></i>
            <i class="fa-solid fa-x navM__close"></i>
        </div>
    </div>

    <!-- ======= NAV MENU ======= -->
    <nav class="navM__menu" id="navM-menu">
        <ul class="navM__list">
            <li class="navM__item">
                <a href="index.html#home" class="navM__link" data-section="nav" data-value="home">Inicio</a>
            </li>

            <li class="navM__item">
                <a href="index.html#nosotros" class="navM__link" data-section="nav" data-value="about">Nosotros</a>
            </li>

            <li class="navM__item">
                <a href="index.html#servicios" class="navM__link" data-section="nav" data-value="about">Servicios</a>
            </li>

            <li class="navM__item">
                <a href="index.html#portafolio" class="navM__link" data-section="nav" data-value="testimonials">Portafolio</a>
            </li>

            <li class="navM__item">
                <a href="index.html#contacto" class="navM__link" data-section="nav" data-value="contact">Contacto</a>
            </li>

            <li class="navM__item">
                <a href="index.html#home" target="_blank" class="navM__link">
                    <i class="fa-brands fa-facebook navM__icon"></i>
                </a>

                <a href="index.html#home" target="_blank" class="navM__link">
                    <i class="fa-brands fa-instagram navM__icon"></i>
                </a>
            </li>
        </ul>

        
    </nav>
</div>