@use 'base/mixins' as m;
@use 'base/variables' as v;

.portafolio {
    background-color: v.$gray-1;
    padding: 3.5rem 0;
}

.gallery {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;

    @include m.phone {
        width: 90%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        
        @include m.phone {
            grid-template-columns: 1fr;
        }

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        box-shadow: v.$box-shadow;
        background-color: v.$white;
        border-radius: 2rem;
        transition: all 300ms;
        overflow: hidden;
        
        &:hover {
            transform: scale(1.05);
        }
        
        
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-picture {
            aspect-ratio: 3/2;
            overflow: hidden;

            /*! estra */
            display: block;
            width: 100%;
        }


        &-img {
            width: 100%;
            /* height: 30rem; */
            /* height: 100%; */
            display: block;
            object-fit: cover;
            /* border-radius: 1.5rem 1.5rem 0 0; */

            /* ! extra */
            height: 100%;
            border-radius: 0;
        }
        
    }
}