<header class="header" id="home">
    <!-- header -->
    <div class="header__info">
        <div class="header__info-location">
            <i class="fa-solid fa-envelope"></i>
            <a class="header__link" href="mailto:contacto@satiaislamientos.com">
                <p class="header__info-location-text">contacto@satiaislamientos.com</p>
            </a>
            
        </div>


        <div class="header__info-right">
            <div class="header__info-phone">
                <i class="fas fa-phone"></i>
                <span class="header__info-phone-text"><span data-section="header" data-value="call">Llamanos:</span> <a class="header__info-phone-number" href="tel: +52 614 370 5477">614 370 5477</a> </span>
            </div>
        </div>

    </div>    
</header>